*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Created by https://www.toptal.com/developers/gitignore/api/opencv
# Edit at https://www.toptal.com/developers/gitignore?templates=opencv

### OpenCV ###
#OpenCV for Mac and Linux
#build and release folders
*/CMakeFiles
*/CMakeCache.txt
*/Makefile
*/cmake_install.cmake
.DS_Store
*/opencv/build/*
# End of https://www.toptal.com/developers/gitignore/api/opencv